
body {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links, .hero-text-secondary{
    font-size: 18px;
    color: #E5E7EB
}

ul {
    display: flex;
    gap: 10px
}

.header-section {
    background-color: #1F2937;
    color: #e5e7eb;
    margin: -8px;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 100px
}


.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.text-info {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.button-one {
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
    border-radius: 15px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    align-self: flex-start;
}

a {
    
    color: inherit
}

img {
    max-width: 500px;
    max-height: auto;
    border: 5px solid #3882F6;
    border-radius: 15px;
}


.information-section, .sign-up-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
}

.information-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.information-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 100px
}

.feature {
    max-width: 250px;
    max-height: 250px;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    margin: -8px;
    padding: 125px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    max-width: 850px;
}

.the-quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.author {
    font-weight: bold;
    align-self: flex-end;
}

.sign-up-section {
    padding-top: 90px;
    padding-bottom: 90px;
}

.sign-up-box {
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    gap: 300px;
    padding: 35px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
}

.sign-up-left-subbox {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-left-subbox-top {
    font-weight: bold;
}

.button-two {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 25px;
    margin: -8px;
}